{% extends "base.html" %}

{% block content %}
  {{ super() }}

  <script
    data-goatcounter="https://starpilot-docs.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js">
  </script>
{% endblock %}

{% block footer %}
  {{ super() }}

  <div class="galaxy-theme-menu">
    <label for="theme-selector" class="galaxy-theme-menu__label">
      Theme
    </label>

    <select
      id="theme-selector"
      class="galaxy-theme-select"
      aria-label="Select theme"
    >
      <option value="default">Default</option>
      <option value="galaxy">Galaxy</option>
    </select>
  </div>
{% endblock %}{% endblock %}
