{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/theme-ui.css' | url }}">
  <script src="{{ 'assets/theme-loader.js' | url }}"></script>
{% endblock %}

{% block content %}
  {{ super() }}

  <script
    data-goatcounter="https://starpilot-docs.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js">
  </script>
{% endblock %}

{% block footer %}
  {{ super() }}

  <div class="site-theme-menu">
    <div class="site-theme-menu__inner">
      <label for="theme-selector">Theme</label>
      <select id="theme-selector" aria-label="Select site theme">
        <option value="galaxy" selected>Galaxy</option>
        <option value="material">Material</option>
      </select>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <div id="site-theme-assets" hidden></div>
  {{ super() }}
{% endblock %}
