{% if nav %}
  {% if page.meta and page.meta.hide %}
    {% set navigation_hidden = "hidden" if "navigation" in page.meta.hide %}
  {% endif %}
  <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ navigation_hidden }}>
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        {% include "partials/nav.html" %}
        <div class="site-theme-menu">
          <div class="site-theme-menu__inner">
            <label for="theme-selector">Theme</label>
            <select id="theme-selector" aria-label="Select site theme">
              <option value="galaxy" selected>Galaxy</option>
              <option value="material">Material</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if "toc.integrate" not in features %}
  {% if page.meta and page.meta.hide %}
    {% set toc_hidden = "hidden" if "toc" in page.meta.hide %}
  {% endif %}
  <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ toc_hidden }}>
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        {% include "partials/toc.html" %}
      </div>
    </div>
  </div>
{% endif %}
